<!DOCTYPE html>
<html lang="en">
    <head>
        <title>friends_weather</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59318da56d23c50012b5942d&product=inline-share-buttons"></script>
    </head>
    <body>
        {% load static %}
    {% for friend in friends_list %}
    
        <p><b>{{friend.friend}}</b></p>
        {% if  friend.conditions == 'Clouds' %}
            <h3>{{friend.weather.name}}</h3>
            <img src="{% static 'first_app/images/Clouds.svg' %}" alt="">
            <p>{{friend.fahrenheit}}°F and {{friend.conditions}}</p>
            <p>You might want to check on {{friend.friend.first_name}}, maybe even send them your quote.</p>
        {% elif  friend.conditions == 'Rain' or friend.conditions == 'Drizzle' %}
            <h3>{{friend.weather.name}}</h3>
            <img src="{% static 'first_app/images/rainy-6.svg' %}" alt="">   
            <p>{{friend.fahrenheit}}°F and {{friend.conditions}}</p>
            <p>You might want to check on {{friend.friend.first_name}}, maybe even send them your quote.</p>  
        {% elif  friend.conditions == 'Clear' %}
            <h3>{{friend.weather.name}}</h3>
            <img src="{% static 'first_app/images/Clear.svg' %}" alt="">   
            <p>{{friend.fahrenheit}}°F and {{friend.conditions}}</p>
            <a href="https://www.kayak.com/" target="_blank">Like {{friend.friend.first_name}}'s weather? Plan a weekend getaway!</a> 
        {% elif  friend.conditions == 'Thunderstorm' %}
            <h3>{{friend.weather.name}}</h3>
            <img src="{% static 'first_app/images/thunder.svg' %}" alt="">   
            <p>{{friend.fahrenheit}}°F and {{friend.conditions}}</p>
            <p>You might want to check on {{friend.friend.first_name}}, maybe even send them your quote.</p>
        {% elif  friend.conditions == 'Snow' %}
            <h3>{{friend.weather.name}}</h3>
            <img src="{% static 'first_app/images/snowy-6.svg' %}" alt="">   
            <p>{{friend.fahrenheit}}°F and {{friend.conditions}}</p>
            <p>You might want to check on {{friend.friend.first_name}}, maybe even send them your quote.</p>
        {% else %}
            <h3>{{friend.weather.name}}</h3>
            <img src="{% static 'first_app/images/Clear.svg' %}" alt="">   
            <p>{{friend.fahrenheit}}°F and {{friend.conditions}}</p> 
        {% endif %}
        <hr>
    
    {% endfor %}
    </body>
</html>