<!DOCTYPE html>
<html lang="en">

<head>
    <title>weather</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    
</head>

<body>
    
    <!--add if statement for 'drizzle''clouds''rain''snow''clear''thunderstom':-->
    
    {% if  conditions == 'Clouds' %}
                
        <img title="HAHAHAHAHA!" class="gif_img" src="{% static 'first_app/images/funny.gif' %}" alt=""><br>
        <div class="VT323 quote_div">
            <p>"{{ funny.contents.quotes.0.quote }}"</p>
            <p>- {{ funny.contents.quotes.0.author }}</p>
        </div>
        
        <hr>
        <div class="box14">
            <h2 class="city">{{city}}</h2>
            <img class="weather_img" src="{% static 'first_app/images/Clouds.svg' %}" alt="">
            <p id="fahrenheit">{{fahrenheit}}°F</p>
            <p id="celcius">{{celcius}}°C</p>
        </div>
        
        <p class="VT323 quote_div">It ain't you, its the weather!</p>
    {% elif  conditions == 'Thunderstorm' %}
        <img title="HAHAHAHAHA!" class="gif_img" src="{% static 'first_app/images/funny.gif' %}" alt=""><br>
        <div class="VT323 quote_div">
            <p>"{{ funny.contents.quotes.0.quote }}"</p>
            <p>- {{ funny.contents.quotes.0.author }}</p>
        </div>
        
        <hr>
        <div class="box14">
            <h2 class="city">{{city}}</h2>
            <img class="weather_img" src="{% static 'first_app/images/thunder.svg' %}" alt="">
            <p id="fahrenheit">{{fahrenheit}}°F</p>
            <p id="celcius">{{celcius}}°C</p>
        </div>
        
        <p class="VT323 quote_div">It ain't you, its the weather!</p>
    {% elif  conditions == 'Snow' %}
        <img title="HAHAHAHAHA!" class="gif_img" src="{% static 'first_app/images/funny.gif' %}" alt=""><br>
        <div class="VT323 quote_div">
            <p>"{{ funny.contents.quotes.0.quote }}"</p>
            <p>- {{ funny.contents.quotes.0.author }}</p>
        </div>
        
        <hr>
        <div class="box14">
            <h2 class="city">{{city}}</h2>
            <img class="weather_img" src="{% static 'first_app/images/snowy-6.svg' %}" alt="">
            <p id="fahrenheit">{{fahrenheit}}°F</p>
            <p id="celcius">{{celcius}}°C</p>
        </div>
        
        <p class="VT323 quote_div">It ain't you, its the weather!</p>
    {% elif  conditions == 'Drizzle' or conditions == 'Rain' %}
        <img title="HAHAHAHAHA!" class="gif_img" src="{% static 'first_app/images/funny.gif' %}" alt=""><br>
        <div class="VT323 quote_div">
            <p>"{{ funny.contents.quotes.0.quote }}"</p>
            <p>- {{ funny.contents.quotes.0.author }}</p>
        </div>
        
        <hr>
        <div class="box14">
            <h2 class="city">{{city}}</h2>
            <img class="weather_img" src="{% static 'first_app/images/rainy-6.svg' %}" alt="">
            <p id="fahrenheit">{{fahrenheit}}°F</p>
            <p id="celcius">{{celcius}}°C</p>
        </div>
        
        <p class="VT323 quote_div">It ain't you, its the weather!</p>



    {% elif  conditions == 'Clear' %}
        <img title="I better go out and get some sun!" class="gif_img" src="{% static 'first_app/images/walk.gif' %}" alt=""><br>
        <div class="VT323 quote_div">
            <p>"{{ inspire.contents.quotes.0.quote }}"</p>
            <p>- {{ inspire.contents.quotes.0.author }}</p>
        </div>
        
        <hr>
        <div class="box14">
            <h2 class="city">{{city}}</h2>
            <img class="weather_img" src="{% static 'first_app/images/Clear.svg' %}" alt="">
            <p id="fahrenheit">{{fahrenheit}}°F</p>
            <p id="celcius">{{celcius}}°C</p>
        </div>
        
        <p class="VT323 quote_div">What a day to get out and get some sun!</p>
    {% else %}
            <img title="I better go out and get some sun!" class="gif_img" src="{% static 'first_app/images/walk.gif' %}" alt=""><br>
        <div class="VT323 quote_div">
            <p>"{{ inspire.contents.quotes.0.quote }}"</p>
            <p>- {{ inspire.contents.quotes.0.author }}</p>
        </div>
        
        <hr>
        <div class="box14">
            <h2 class="city">{{city}}</h2>
            <img class="weather_img" src="{% static 'first_app/images/Clear.svg' %}" alt="">
            <p id="fahrenheit">{{fahrenheit}}°F</p>
            <p id="celcius">{{celcius}}°C</p>
        </div>
        
        <p class="VT323 quote_div">What a day to get out and get some sun!</p>
    {% endif %}


</body>

</html>